################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MongoSharpTest/.vs/MongoSharpTest
/MongoSharpTest/MongoSharpTest/obj
/MongoSharpTest/MongoSharpTest/bin/Debug/netcoreapp2.2
